<div class="modal-header">
	<h3 class="modal-title">{{ vm.header }}</h3>
</div>
<div class="modal-body canvas-modal">
	<!-- <pre>{{ vm.items | json }}</pre> -->
	<md-content>
		<md-tabs md-dynamic-height md-border-bottom>
			<md-tab label="{{'site_location_modal_tab_auto' | translate}}" ng-click="vm.updateTypeTimeSeries('auto')">
			</md-tab>
			<md-tab label="{{'site_location_modal_tab_custom' | translate}}">
				<md-content class="md-padding">
					<div class="input-group">
						<input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePickerDate.date" options="vm.datePickerDate.options" readonly="true" placeholder="Auto" id="daterange_timeseries" />
						<span class="input-group-btn">
							<select class="form-control custom-select" ng-model="vm.resolutions.model">
								<option ng-repeat="res in vm.resolutions.options" value="{{res.value}}">{{res.label}}</option>
							</select>
							<button class="btn btn-primary waves-effect waves-dark" type="button" ng-click="vm.getTimeSeriesFilter()">{{'site_location_modal_filter_btn' | translate}}</button>
						</span>
					</div>
				</md-content>
			</md-tab>
		</md-tabs>
	</md-content>
	<div class="row">
		<div class="col-12">
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="javascript:void(0)">{{'site_location_modal_lowrate' | translate}}</a>
						</li>
						<li class="action-right" ng-if="vm.isBatchRequest===false">
							<md-switch ng-model="vm.switchEvent.status" ng-change="vm.onChangeEvent(vm.switchEvent.status)" class="md-primary inline pull-right m-0">
							{{'site_location_modal_view_event' | translate}}
							</md-switch>
							<button type="button" class="btn btn-primary pull-right m-r-10" ng-click="vm.viewHighRate()" ng-if="vm.chartToolbarOptions.min > 0">{{'site_location_modal_view_highrate' | translate}}</button>
						</li>
					</ul>
				</div>
				<div class="card-body">
					<div class="chart-x">
						<canvas-toolbar class="toolbar" data-options="vm.chartToolbarOptions" />
						<div id="chartContainer" style="width:100%;height:250px"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="vm.ok()">{{'site_location_modal_close_btn' | translate}}</button>
</div>