
<div class="row page-titles m-b-0">
	<div class="col-md-5 align-self-center">
		<h3 class="text-white" translate="menu_event_library"></h3>
	</div>
	<div class="col-md-7 align-self-center">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="javascript:void(0)" translate="site_menu_monitor"></a></li>
			<li class="breadcrumb-item active" translate="menu_event_library"></li>
		</ol>
	</div>
</div>
<div class="container-fluid">
	<div ng-cloak>
		<div class="card">
			<div class="card-body p-0">
				<ul class="nav nav-tabs customtab" role="tablist">
					<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#investigate" role="tab" ng-click="vm.switchMode('investigate')"><span class="hidden-sm-up"><i class="ti-zoom-in"></i></span> <span class="hidden-xs-down">{{ "site_monitor_tab_investigate" | translate }}</span></a></li>
					<li class="monitor-filter-toggle" ng-if="vm.tabMode == 'investigate'"><button type="button" class="btn btn-secondary" ng-click="vm.toggleFilter()" ng-class="{active: vm.filterOn}"><i class="ti-filter"></i></button></li>
				</ul>
				<div class="tab-content p-0">
					<div class="tab-pane" id="investigate" role="tabpanel">
						<!-- content -->
						<div class="monitor-filter clearfix" ng-show="vm.filterOn">
							<div class="input-group m-b-5">
								<input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePickerDate.date" options="vm.datePickerDate.options" readonly="true" placeholder="Auto" id="date_filter_monitor" />
								<span class="input-group-btn">
									<select class="form-control selectpicker" data-select-watcher ng-model="vm.filter.duration.model" ng-options="res.name for res in vm.filter.duration.options track by res.id" data-actions-box="true">
	  								</select>
								</span>
							</div>
							<div class="m-b-5">
								<div class="row">
									<div class="col-md-6 filter-col" style="padding-right:4px">
										<div class="input-group">
											<div class="input-group-addon">
												<span class="input-group-text">{{ "site_monitor_filter_tag" | translate }}</span>
											</div>
											<select class="form-control selectpicker" multiple="true" data-select-watcher ng-model="vm.filter.tag.model" ng-options="res.name for res in vm.filter.tag.options track by res.id" data-actions-box="true" data-width="80%" data-selected-text-format="count > 2">
			  								</select>
										</div>
									</div>
									<div class="col-md-6 p-l-0 filter-col">
										<div class="input-group">
											<div class="input-group-addon">
												<span class="input-group-text">{{ "site_monitor_filter_operation" | translate }}</span>
											</div>
											<select class="form-control selectpicker" multiple="true" data-select-watcher ng-model="vm.filter.operation.model" ng-options="res.name for res in vm.filter.operation.options track by res.id" data-actions-box="true" data-width="80%" data-selected-text-format="count > 2">
			  								</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<div class="input-group">
										<div class="input-group-addon">
											<span class="input-group-text">{{ "site_monitor_filter_confidence" | translate }}</span>
										</div>
										<md-slider class="slider md-primary" flex md-discrete ng-model="vm.filter.confidence.model" step="{{vm.filter.confidence.options.min}}" min="{{vm.filter.confidence.options.min}}" max="{{vm.filter.confidence.options.max}}" aria-label="confidence">
					      		</md-slider>
					      		<span class="input-group-btn">
					      			<button class="btn btn-primary btn-block waves-effect waves-dark" type="button" ng-click="vm.showFilterMonitor()">{{'site_location_modal_filter_btn' | translate}}</button>
					      		</span>
									</div>
								</div>
					    </div>
						</div>
			 			<div ng-if="vm.invest.results.length <= 0" class="text-center p-40">
			 				<i class="ti-info-alt newline font-30 m-b-10"></i>{{ "site_monitor_no_result" | translate }}
			 			</div>
			 			<div infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.investigate.busy' infinite-scroll-distance='2' class="monitoring" ng-class="{'p-20': vm.invest.results.length > 0}" id="investigate_container">
			 				<div class="row-event" ng-repeat="item in vm.invest.results" ng-click="vm.viewEventDetails(item)">
			 					<div class="row">
			 						<div class="col-md-12 clearfix">
			 							<span class="event-badge {{ item.degree }}">
			 								<i class="ti-light-bulb"></i>
			 								<div class="notify" ng-show="item.degree == 'high'"><span class="heartbit"></span><span class="point"></span></div>
			 							</span>
			 							<div class="event-info">
			 								<div class="name">{{ item.desc }}<span class="datetime text-muted font-11 m-l-10"><i class="ti-time"></i> {{ item.timestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span></div>
			 								<div class="address text-muted font-12"><i class="ti-location-pin"></i><span>{{ item.location }}</span><span>{{ item.confidence }}</span><span>{{ item.operation }}</span></div>
			 							</div>
			 						</div>
			 					</div>
			 				</div>
			 				<div ng-show='vm.investigate.busy'></div>
			 			</div>
			 			<!-- //END content -->
				 		</div>
				 	</div>
				 </div>
				</div>
			</div>
		</div>
