<div class="monitor-event">
	<div class="modal-header">
		<h3 class="modal-title">{{ vm.events.name }}</h3>
	</div>
	<div class="text-muted info">
		<table class="table table-bordered m-b-0 table-sm">
			<thead>
					<tr>
						<th width="30%">ID</th>
						<th width="30%">{{ "site_monitor_event_table_desc" | translate }}</th>
						<th width="15%">{{ "site_monitor_event_table_datetime" | translate }}</th>
						<th width="5%">sigma</th>
						<th width="5%">mag</th>
						<th width="10%">{{ "site_monitor_event_table_confidence" | translate }}</th>
						<th width="5%">{{ "site_monitor_event_table_operation" | translate }}</th>
					</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<span class="text-muted text-12">{{ vm.events.eventid }}</span>
					</td>
					<td>
						<span class="text-muted text-12">{{ vm.events.info.desc }}</span>
					</td>
					<td>
						{{ vm.events.info.ts | date: 'dd-MM-yyyy HH:mm:ss' }}
					</td>
					<td>
						{{ vm.events.info.sigma | number: 2}}
					</td>
					<td>
						{{ vm.events.info.magnitude | number: 2 }}
					</td>
					<td>
						{{ vm.events.info.confidence | number: 2 }}
					</td>
					<td>
						{{ vm.events.info.operation }}
					</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="modal-body canvas-modal">
		<div class="text-center m-b-20">
			<div class="btn-group" role="toolbar">
				<button type="button" class="btn btn-default" ng-click="vm.toggleTime('prev')"><i class="ti-arrow-left"></i> {{ "site_monitor_event_prev_min" | translate }}</button>
				<button type="button" class="btn btn-default" ng-click="vm.toggleTime('next')">{{ "site_monitor_event_next_min" | translate }} <i class="ti-arrow-right"></i></button>
			</div>
			<button type="button" class="btn btn-default pull-right" ng-click="vm.viewMap()"><i class="ti-map-alt"></i></button>
			<button type="button" class="btn btn-default pull-right" ng-click="vm.analyze()"><i class="ti-menu-alt"></i></button>
		</div>
		<div class="chart-x">
			<canvas-toolbar class="toolbar" data-options="vm.chartToolbarOptions" />
			<div id="chartEventContainer" style="width:100%;height:250px"></div>
		</div>
		<div class="card m-b-0">
			<div class="card-body">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th width="30%">{{ "site_monitor_event_table_name" | translate }}</th>
							<th width="45%">{{ "site_monitor_event_table_address" | translate }}</th>
							<th width="15%">{{ "site_monitor_event_table_status" | translate }}</th>
							<th width="10%">{{ "site_monitor_event_table_action" | translate }}</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="neighbor in vm.events.neighbors">
							<td>{{ neighbor.name }}</td>
							<td>{{ neighbor.geo_address }}</td>
							<td>{{ neighbor.status }}</td>
							<td><button type="button" class="btn btn-default btn-sm" ng-click="vm.actionPlot(neighbor)"><span ng-if="!neighbor.isPlot"><i class="ti-plus"></i> {{ "site_monitor_event_add_plot" | translate }}</span><span ng-if="neighbor.isPlot"><i class="ti-close"></i> {{ "site_monitor_event_remove_plot" | translate }}</span></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="btn-group dropup">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ "site_event_tagging_button_label" | translate }} <span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li ng-repeat="tag in vm.events.tags"><a href="JavaScript:void(0);" class="dropdown-item" ng-click="vm.toggleTagging(tag.id)">{{ tag.name }}</a></li>
			</ul>
		</div>
		<button class="btn btn-primary" ng-click="$dismiss()">{{ "site_location_modal_close_btn" | translate }}</button>
	</div>
</div>