<nav class="navbar top-navbar navbar-expand-md navbar-light">
	<div class="navbar-header">
		<a class="navbar-brand" href="index.html">
			<!-- Logo icon -->
			<b><img src="assets/images/logo-black.png" alt="Banxin" class="dark-logo" /></b>
			<!-- Logo text -->
			<span><img src="assets/images/logo-proj.png" alt="Banxin" class="dark-logo" /></span>
		</a>
	</div>
	<div class="navbar-collapse">
		<ul class="navbar-nav mr-auto mt-md-0">
			<!-- toggle sidebar -->
			<li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
			<li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
		</ul>
		<!-- User profile and search -->
		<ul class="navbar-nav my-lg-0">
			<!-- Search -->
			<!-- <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-search"></i></a>
				<form class="app-search">
					<input type="text" class="form-control" placeholder="{{ 'search_placeholder' | translate }}"> <a class="srh-btn"><i class="ti-close"></i></a>
				</form>
			</li> -->
			<!-- Language -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="JavaScript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="flag-icon flag-icon-{{ vm.currLang }}"></i></a>
				<div class="dropdown-menu dropdown-menu-right scale-up">
					<a class="dropdown-item" href ng-click="vm.changeLanguage('en')"><i class="flag-icon flag-icon-us"></i> English</a>
					<a class="dropdown-item" href ng-click="vm.changeLanguage('cn')"><i class="flag-icon flag-icon-cn"></i> Chinese</a>
				</div>
			</li>
			<!-- Profile -->
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img src="assets/images/users/user.jpg" alt="user" class="profile-pic" />
				</a>
				<div class="dropdown-menu dropdown-menu-right scale-up">
					<ul class="dropdown-user">
						<li><a ng-click="vm.logout()"><i class="ti-lock"></i> <span translate="logout_label"></span></a></li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</nav>