<div class="container-fluid">
    <div ng-cloak>
        <div class="card">
            <div class="card-body p-0">
                <ul class="nav nav-tabs customtab" role="tablist" style="padding: 10px;">
                    <li ng-repeat="x in vm.reports" class="nav-item" style="margin-left: 6px;"><button class="btn btn-default" ng-click="vm.getDirid(x.id)">{{x.name}}</button></li>
                </ul>
                <div class="tab-content p-0">
                    <div class="tab-pane active" id="monitor" role="tabpanel">
                        <!-- content -->
                        <div class="monitoring">
                            <div ng-if="vm.isObjectEmpty(vm.dirid)" class="text-center p-20">
                                <i class="ti-info-alt newline font-30 m-b-10"></i>{{ "site_monitor_no_result" | translate }}
                            </div>
                            <div class="row-event" ng-repeat="item in vm.dirid1.data">
                                <div class="row">
                                    <div class="event-info">
                                        <a href="/api/report/ns/file/{{item.id}}?token={{vm.dirid1.token}}">{{ item.name }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-default btn-block" ng-click="vm.loadmoreMonitor()" ng-show="vm.monitorPage.button">{{ "site_monitor_show_more" | translate }}</button>
                            </div>
                        </div>
                        <!-- //END content -->
                    </div>
                    <div class="tab-pane" id="investigate" role="tabpanel">
                        <!-- content -->
                        <div class="monitor-filter clearfix" ng-show="vm.filterOn">
                            <div class="input-group m-b-5">
                                <input date-range-picker class="form-control date-picker" type="text" ng-model="vm.datePickerDate.date" options="vm.datePickerDate.options" readonly="true" placeholder="Auto" id="date_filter_monitor" />
                                <span class="input-group-btn">
									<select class="form-control selectpicker" data-select-watcher ng-model="vm.filter.duration.model" ng-options="res.name for res in vm.filter.duration.options track by res.id" data-actions-box="true">
	  								</select>
								</span>
                            </div>
                            <div class="m-b-5">
                                <div class="row">
                                    <div class="col-md-12 filter-col">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="input-group-text">{{ "site_monitor_filter_tag" | translate }}(自动)</span>
                                            </div>
                                            <select class="form-control selectpicker" multiple="true" data-select-watcher ng-model="vm.filter.autotag.model" ng-options="res.name for res in vm.filter.autotag.options track by res.id" data-actions-box="true" data-width="80%" data-selected-text-format="count > 2">
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="col-md-6 p-l-0 filter-col">-->
                                    <!--<div class="input-group">-->
                                    <!--<div class="input-group-addon">-->
                                    <!--<span class="input-group-text">{{ "site_monitor_filter_tag" | translate }}(手动)</span>-->
                                    <!--</div>-->
                                    <!--<select class="form-control selectpicker" multiple="true" data-select-watcher ng-model="vm.filter.mantag.model" ng-options="res.name for res in vm.filter.mantag.options track by res.id" data-actions-box="true" data-width="80%" data-selected-text-format="count > 2">-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--</div>-->

                                    <!--<div class="col-md-2">-->
                                    <!--<button  type="button" class="btn btn-primary btn-block">{{ "site_monitor_filter_add_datapoint" | translate }}</button>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="m-b-5">
                                <div class="row">
                                    <div class="col-md-12 filter-col">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="input-group-text">{{ "site_monitor_filter_operation" | translate }}</span>
                                            </div>
                                            <select class="form-control selectpicker" multiple="true" data-select-watcher ng-model="vm.filter.operation.model" ng-options="res.name for res in vm.filter.operation.options track by res.id" data-actions-box="true" data-width="80%" data-selected-text-format="count > 2">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="m-b-5">
                                <div class="row">
                                    <div class="col-md-12 filter-col">
                                        <div class="input-group">
                                            <div class="input-group-addon">
                                                <span class="input-group-text">{{ "site_monitor_filter_add_datapoint" | translate }}</span>
                                            </div>
                                            <select class="form-control selectpicker deselected-only" multiple data-select-watcher ng-model="vm.filter.dplists.model" ng-options="res.name for res in vm.filter.dplists.options track by res.name" data-actions-box="true" data-max-options="5" data-live-search="true" data-width="80%" data-selected-text-format="count > 3">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="input-group-text">{{ "site_monitor_filter_confidence" | translate }}</span>
                                        </div>
                                        <md-slider class="slider md-primary" flex md-discrete ng-model="vm.filter.confidence.model" step="{{vm.filter.confidence.options.min}}" min="{{vm.filter.confidence.options.min}}" max="{{vm.filter.confidence.options.max}}" aria-label="confidence">
                                        </md-slider>
                                        <span class="input-group-btn">
					      			<button class="btn btn-primary btn-block waves-effect waves-dark" type="button" ng-click="vm.showFilterMonitor()">{{'site_location_modal_filter_btn' | translate}}</button>
					      		</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div ng-if="vm.invest.results.length <= 0" class="text-center p-40">
                            <i class="ti-info-alt newline font-30 m-b-10"></i>{{ "site_monitor_no_result" | translate }}
                        </div>
                        <div infinite-scroll='vm.nextPage()' infinite-scroll-disabled='vm.investigate.busy' infinite-scroll-distance='2' class="monitoring" ng-class="{'p-20': vm.invest.results.length > 0}" id="investigate_container">
                            <div class="row-event" ng-repeat="item in vm.invest.results" ng-click="vm.viewEventDetails(item)">
                                <div class="row">
                                    <div class="col-md-12 clearfix">
			 							<span class="event-badge {{ item.degree }}">
			 								<i class="ti-light-bulb"></i>
			 								<div class="notify" ng-show="item.degree == 'high'"><span class="heartbit"></span><span class="point"></span></div>
			 							</span>
                                        <div class="event-info">
                                            <div class="name">{{ item.desc }}<span class="datetime text-muted font-11 m-l-10"><i class="ti-time"></i> {{ item.timestamp | date: 'dd-MM-yyyy HH:mm:ss'}}</span></div>
                                            <div class="address text-muted font-12"><i class="ti-location-pin"></i><span>{{ item.location }}</span><span>{{ item.confidence }}</span><span>{{ item.operation }}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show='vm.investigate.busy'></div>
                        </div>
                        <!-- //END content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>